Repository Requisitos-de-Software/2020.2-CarteiraDigitalTransito, pull requests merged in 2021-02, with the labels that each got.

#12 #8 Adicionando os tópicos e a descrição das metodologias.
  docs/planejamento.md
Labels: PLANEJAMENTO

#14 (#4) Inserindo os horários da equipe no documento
  docs/planejamento.md
Labels: PLANEJAMENTO

#15 Adição do Rich Picture na wiki
  docs/planejamento.md
  docs/pre_rastreabilidade/rich_pictures.md
  docs/stylesheets/extra.css
Labels: ARTEFATO, PRÉ-RASTREABILIDADE

#17 13 apresentação
  docs/apresentacoes/apresentacao_1.md
Labels: APRESENTAÇÃO, documentation

#22 Ata da reunião do dia 26/02/2021
  .github/pull_request_template.md
  docs/atas/reuniao-26-02-2021.md
  mkdocs.yml
Labels: REUNIÃO
