Repository Requisitos-de-Software/2020.2-CarteiraDigitalTransito, pull requests merged in 2021-03, with the labels that each got.

#27 Criando Introspecção
  docs/elicitacao/introspeccao.md
Labels: ARTEFATO, ELICITAÇÃO

#33 26 questionario
  docs/elicitacao/questionario.md
Labels: ELICITAÇÃO, documentation

#36 (#32) adição da apresentação 2
  docs/apresentacoes/apresentacao_2.md
Labels: APRESENTAÇÃO, ENTREGA, documentation

#37 Agrupamento e priorização
  docs/elicitacao/requisitos.md
  docs/priorizacao/first_thing_first.md
  docs/priorizacao/moscow.md
Labels: ELICITAÇÃO, PRIORIZAÇÃO

#40 Ata da reunião de 15/03/2021.
  docs/atas/reuniao-15-03-2021.md
  mkdocs.yml
Labels: REUNIÃO

#50 Adicionando apresentação 3
  docs/apresentacoes/apresentacao_2.md
  docs/apresentacoes/apresentacao_3.md
Labels: APRESENTAÇÃO, ENTREGA

#46 Cenários
  docs/modelagem/cenarios.md
Labels: ARTEFATO, MODELAGEM

#45 Especificação Suplementar
  docs/modelagem/especificacao_suplementar.md
  docs/modelagem/suplementar.md
Labels: MODELAGEM, documentation

#47 Casos de uso
  docs/modelagem/caso_de_uso.md
Labels: MODELAGEM

#55 Adicionando ata da reunião do dia 23/03/2021
  docs/atas/reuniao-23-03-2021.md
  mkdocs.yml
Labels: REUNIÃO
