Repository Requisitos-de-Software/2020.2-CarteiraDigitalTransito, pull requests merged in 2021-04, with the labels that each got.

#63 Adição apresentação 4
  docs/apresentacoes/apresentacao_4.md
Labels: APRESENTAÇÃO

#61 Nfr framework
  docs/assets/imagens/nfr/legenda.jpeg
  docs/assets/imagens/nfr/nfr-confiabilidade-p.png
  docs/assets/imagens/nfr/nfr-confiabilidade.png
  docs/assets/imagens/nfr/nfr-eficiencia-p.png
  docs/assets/imagens/nfr/nfr-eficiencia.png
  docs/assets/imagens/nfr/nfr-portabilidade-p.png
  docs/assets/imagens/nfr/nfr-portabilidade.png
  docs/assets/imagens/nfr/nfr-usabilidade-p.png
  docs/assets/imagens/nfr/nfr-usabilidade.png
  docs/modelagem/nfr_framework.md
  docs/stylesheets/extra.css
Labels: MODELAGEM, documentation

#60 Backlog do Produto
  docs/assets/imagens/backlog.png
  docs/modelagem/backlog_do_produto.md
  docs/priorizacao/moscow.md
Labels: ARTEFATO, MODELAGEM

#78 72 casos de uso
  docs/analise/verificacao/caso_de_uso.md
Labels: VERIFICAÇÃO

#69 Documento de NFR
  docs/analise/verificacao/nfr_framework.md
Labels: VERIFICAÇÃO

#83 Protótipo
  docs/analise/validacao/prototipo.md
  docs/assets/prototipos/educacao.jpeg
  docs/assets/prototipos/habilitacao.jpeg
  docs/assets/prototipos/perfil.jpeg
  docs/assets/prototipos/veiculos.jpeg
Labels: VALIDAÇÃO

#75 66 Verificacao do Backlog e US
  docs/analise/verificacao/backlog.md
  docs/analise/verificacao/historia_de_usuario.md
  mkdocs.yml
Labels: VERIFICAÇÃO

#82 #73 - cenarios
  docs/analise/verificacao/cenario.md
Labels: VERIFICAÇÃO

#79 Planejamento e Rich Picture
  docs/analise/verificacao/planejamento.md
  docs/analise/verificacao/rich_picture.md
  docs/atas/reuniao-05-04-2021.md
  docs/atas/reuniao-23-03-2021.md
  mkdocs.yml
Labels: VERIFICAÇÃO

#76 Viewpoints
  docs/analise/validacao/viewpoint.md
Labels: VALIDAÇÃO

#71 Documento moscow verificação
  docs/analise/validacao/informal.md
  docs/analise/verificacao/moscow.md
  mkdocs.yml
Labels: VERIFICAÇÃO

#80 (#74) Verificação Léxico
  docs/analise/verificacao/lexico.md
Labels: ENTREGA, VERIFICAÇÃO

#85 #84 Apresentação 5
  docs/apresentacoes/apresentacao_5.md
Labels: APRESENTAÇÃO

#81 (#77) First Things First
  docs/analise/verificacao/first_things_first.md
  mkdocs.yml
Labels: ENTREGA, VALIDAÇÃO
